{% extends "kalite_zim/welcome.html" %}
{% load i18n %}
{% block title %}{% trans "About" %}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
  
    <h1>{% trans "About this project" %}</h1>
    
    <p>
      Visit Khan Academy's website, <a href="http://www.khanacademy.org">www.khanacademy.org</a>,
      to read more about how their free educational materials and exercises work
      for individual studies, collaborative learning and digital classroom
      environments.
    </p>
    
    <p>
      The videos in front of you are have been made possible
      through data packaged by <a href="http://learningequality.org">Learning Equality</a>,
      an organization working to promote free online contents such as Khan Academy
      beyond the reach of internet (broadband) etc.
    </p>
    
    <p>
      Distribution is done with videos, exercises, and interactive tools for
      teachers and students through the
      <a href="http://learningequality.org/ka-lite/">KA Lite</a> project, soon
      to be re-branded <a href="http://learningequality.org/kolibri/">Kolibri</a>.
      If you want to access exercises and features such as student progress
      reporting, we recommend the <a href="http://learningequality.org/ka-lite/">KA Lite</a>
      project.
    </p>
    
    <p>
      At a hackathon
      in Berlin, Jan. 2016, in which Kiwix and Learning Equality people came
      together, we decided to try exporting KA Lite's videos in the OpenZIM
      format, the data format you are using right now to view the videos.
      We wanted to see people distributing offline contents
      collaborate on common standards and platforms, and we are happy
      that data from one offline application (KA Lite) is able to enter the
      realms of other applications throught the
      <a href="http://www.openzim.org">OpenZim</a> format. This has been an
      effective proof of concept.
    </p>
    
    <p>
      In the future, we hope to see many more platforms both read and write
      the OpenZim format, and that other projects will generate and use APIs and
      storage formats for the purpose of offline distribution.
    </p>
    
    <p>
      Moreover, we encourage developers to join a growing movement of
      content liberators who seek not only to provide free and wonderful
      privileges of education to those with fast internet access, but also to
      those without!
    </p>
    
    <p>
      <em>Berlin, January 10th 2016</em>
    </p>
  
  </div>
</div>
{% endblock %}

