{% extends "kalite_zim/base.html" %}
{% load i18n %}
{% block title %}{% trans "Welcome" %}{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="col-md-10 col-md-offset-1">
    <div class="jumbotron">
      <h1 class="page-header">{% trans "What is this?" %}</h1>
      <p class="lead">
        {% trans "Khan Academy: For free. For everyone. Forever." %}
      </p>
      <p class="lead">
        {% trans "No ads, no subscriptions. We are a not‑for‑profit because we believe in a free, world-class education for anyone, anywhere. " %}
      </p>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_menus %}

<div class="container menu-0 top-menu">
  <div id="menu-0">
    <ul class="nav nav-pills" id="maintabs">
    {% for child in topic_tree.children %}
      <li>
        <a href="{{ child.url }}">{{ child.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
